{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trabalho de ADSC</title>

    <!-- Custom fonts for this template-->
    <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="shortcut icon" href={% static "img/grafico.png" %} type="image/x-icon">

    <!-- Custom styles for this template-->
    <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">
    {% block css%}{% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content text-dark">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h2 class="sidebar-brand d-flex align-items-center justify-content-center" href="Dashboard">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <img src={% static "img/analisse.png" %} alt="" height="40" srcset="">
                        </div>
                        <div class="sidebar-brand-text text-dark mx-1">
                            <h1><small>Trabalho de Avaliação de Desempenho de Sistemas Computacionais</small></h1>
                        </div>
                    </h2>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">

                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="row d-flex ">
                    <div class="col-md-12 justify-content-center align-items-start ">
                        <h2 class="col-md-12 text-dark  justify-content-center align-items-start ">Projeto de Análise
                        </h2>
                        <h4 class="ml-4">Ao se trabalhar com gerenciamento de dados geralmente utiliza-se algum sistema
                            gerenciador de banco de dados (SGBD) unido a uma ferramenta que permita realizar o acesso,
                            inserção, modificação e exclusão no banco. <br>
                            No presente estudo fora realizado um comparativo com técnicas de benchmarking afim de
                            verificar se há diferença significativa no tempo de execução de dois SGBDs em dois Sistemas
                            Operacionais (SO) diferentes, sendo eles respectivamente MySQL e PostgreSQL, rodando no
                            Windows 11 e Linux 22.04. <br>
                            No comparativo utilizou-se quatro comandos em específico: INSERT, UPDATE, SELECT e DELETE.
                            Onde o INSERT é responsável por inserir dados no banco, UPDATE atualiza os dados inseridos,
                            SELECT retorna os dados, e o DELETE apaga os registros deixando o banco limpo novamente.
                            <br>
                            Utilizou-se três níveis de carga em cada comando, sendo elas de 1.000, 10.000 e 100.000,
                            além de haver 10 replicações de cada experimento de modo que ao todo houveram 480 execuções.
                            Os resultados podem ser vistos abaixo.

                            <!-- Divider -->
                            <hr class="sidebar-divider">
                            <div class="col-md-12  justify-content-end align-items-center">
                                <div class="col-md-12 mb-2">{{grafico1|safe}}</div>
                            </div>


                            <hr class="sidebar-divider">

                        </h4>
                    </div>
                    <div class="col-md-12 justify-content-center align-items-start ">
                        <h2 class="col-md-12 text-dark  justify-content-center align-items-start ">Postgresql</h2>
                        <h4 class="ml-4">O PostgreSQL1, assim como o MySQL, é um sistema gerenciador de banco de
                            dados open-source que permite ao usuário realizar consultas complexas, relacionar chaves
                            estrangeiras, criar views, functions e triggers, controlar concorrência de multi-versões, e
                            diversas outras ações oriundas de seus recursos(WIKIPEDIA, 2022c).
                            <!-- Divider -->
                            <hr class="sidebar-divider">

                        </h4>
                    </div>
                    <div class="col-md-12  justify-content-start align-items-center">
                        <div class="col-md-12">
                            <h4 class="ml-2">Este trabalho foi desenvolvido com o proposito de auxiliar a diciplina de
                                ADSC. </h4>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">{{grafico|safe}}</div>
                    <div class="col-md-6 mb-2">{{grafico2|safe}}</div>
                    <div class="col-md-6 mb-2">{{grafico3|safe}}</div>
                    <div class="col-md-6 mb-2">{{grafico4|safe}}</div>

                    <div class="col-md-12 justify-content-center align-items-start ">
                        <!-- Divider -->
                        <hr class="sidebar-divider">
                        <h2 class="col-md-12 text-dark  justify-content-center align-items-start ">MySql</h2>
                        <h4 class="ml-4">MySQL1 é um sistema gerenciador de banco de dados Open-Source (de código
                            aberto)
                            com um modelo cliente-sevidor que define relações entre as tabelas de um BD, utilizando
                            a linguagem SQL como interface.
                            <!-- Divider -->
                            <hr class="sidebar-divider">

                        </h4>
                    </div>
                    
                    <div class="col-md-6 mb-2">{{grafico5|safe}}</div>
                    <div class="col-md-6 mb-2">{{grafico6|safe}}</div>
                    <div class="col-md-6 mb-2">{{grafico7|safe}}</div>
                    <div class="col-md-6 mb-4">{{grafico8|safe}}</div>


                    <!-- <h3>💻</h3> -->
                    <br>

                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <a href="https://github.com/Web-2-Carteira-de-Acoes">IFBaiano</a>
                            2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

    <!-- Core plugin JavaScript-->
    <script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>

    <!-- Icons do Fontawesome -->
    <script src="https://kit.fontawesome.com/893b300611.js" crossorigin="anonymous"></script>

    <!-- Custom scripts for all pages-->
    <script src={% static "js/sb-admin-2.min.js" %}></script>

    <!-- Page level plugins -->
    <script src={% static "vendor/chart.js/Chart.min.js" %}></script>

    <!-- Page level custom scripts -->
    <script src={% static "js/demo/chart-area-demo.js" %}></script>
    <script src={% static "js/demo/chart-pie-demo.js" %}></script>
</body>

</html>